body{
  background-color:#000000 !important;
}

img.img-tabela {
  width: 200px;
  height: 200px;
  border: 10px solid;
  border-radius: 50%;
  object-fit: cover;
}

.ft-modal{
  width: 220px;
  height: 220px;
  border: 10px solid #fedc3d;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(0 0 0.75rem black);
}

button.close {
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
}
.close{
  font-size: 2rem;
  text-shadow: none !important;
  opacity: 1 !important;
  color: #000000 !important;
  border-radius:5px
}
p.text-center{
  margin: auto;
}

.modal-header > img {
  margin: auto;
  height: 1300px;
}

.card{
  border: 1px solid rgba(0,0,0,0) !important;
  border-radius: .25rem;
}

.card-body{
  background-color: #121414 !important;
}

.base-card {
  position: relative;
}

.base-card .card {
  position: relative;
  width: 320px;
  height: 450px;
  background-color: #121414;
  background-image: linear-gradient(315deg, #121414 0%, #0c0c0c 74%);
  border-radius: 20px;
  overflow: hidden;
}

.base-card .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.base-card .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.base-card .card:after {
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 25, 0.05)
}

.base-card .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.base-card .card:hover .imgBx {
  top: 0%;
  transform: translateY(0%);

}

.base-card .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}

.base-card .card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.base-card .card:hover .contentBx {
  height: 210px;
}

.base-card .card .contentBx h2 {
  position: relative;
  font-weight: 600;
  color: #fedc3d;
  margin: 0;
}

.base-card .card .contentBx .size,
.base-card .card .contentBx .num-seguidores {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  color:#fff;
  
}

.base-card .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.base-card .card:hover .contentBx .num-seguidores {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.base-card .card .contentBx .size h3,
.base-card .card .contentBx .num-seguidores h3 {
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.base-card .card .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}

.base-card .card .contentBx .size span:hover {
  background: #9bdc28;
}

.base-card .card .contentBx .num-seguidores span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.base-card .card .contentBx .num-seguidores span:nth-child(2) {
  background: #9bdc28;
}

.base-card .card .contentBx .num-seguidores span:nth-child(3) {
  background: #03a9f4;
}


.base-card .card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  margin-top: 0;
}

.base-card .card:hover .contentBx a {
  cursor: pointer;
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;

}

.card-header{
  background-color:#fedc3d;
}

.card-header:first-child{
  border-radius: calc(3.3rem - 1px) calc(0.25rem - 2px) 0 0;
}

.modal {
	z-index: 99999;
}

.modal-header{
  border-bottom: 1px solid #2d2a1f !important;
  padding: 0px !important;
  background-size: cover;
  height: 250px;
  background-position: center;
}

.modal-title{
  color: #fedc3d;
  padding: 10px;
}
.modal-footer{
  border-top: 1px solid #2d2a1f!important;
  border-radius: 0px 0px 15px 15px;
  color:#fbb034;    
}

.modal-content {
  background-color: #121414 !important;
  border: none;
  border-radius: 1.3rem !important;
}
.btn-primary{
  background-color: #fbb034;
  background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  border-style: none !important;
  color:#000000 !important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgb(251 182 45 / 50%) !important;
}

.btn-group-lg>.btn, .btn-lg{
  margin: 20px !important;
}

.txt-bio{
  color: #fff;
  margin: 10px 40px;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius:15px;
}
.modal-header .close{
  color: #fbb034;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover{
  color: #fff !important;
} 
.ft-infos{
  z-index: 999999;
  width: 100%;
  margin: auto;
  padding: 20px 0;
  position: absolute;
}